provider:
  name: cloudflare

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: cloudflare_api_token

domainFilters:
  - railguncnr.com

txtOwnerId: homelab
txtPrefix: "_externaldns."

policy: sync
logLevel: info
