gitlabUrl: https://gitlab.railguncnr.com

runnerToken: ""

runners:
  secret: gitlab-runner-secret
  tags: "kubernetes,k8s,docker"
  config: |
    [[runners]]
      name = "homelab-k8s-runner"
      limit = 10
      run_untagged = false
      [runners.kubernetes]
        namespace = "{{.Release.Namespace}}"
        image = "ubuntu:22.04"
        privileged = false
      [runners.cache]
        Type = "local"

concurrent: 10
replicas: 1
checkInterval: 3

rbac:
  create: true
  rules:
    - apiGroups: [""]
      resources: ["pods", "pods/exec", "pods/attach", "secrets", "configmaps"]
      verbs: ["get", "list", "watch", "create", "patch", "update", "delete"]
    - apiGroups: [""]
      resources: ["pods/log"]
      verbs: ["get"]

serviceAccount:
  create: true
  name: gitlab-runner
