global:
  hosts:
    domain: railguncnr.com
    https: true

  edition: ce

  nodeSelector:
    kubernetes.io/arch: amd64

  ingress:
    enabled: true
    class: nginx
    configureCertmanager: false
    tls:
      enabled: true
      secretName: wildcard-tls

  initialRootPassword:
    secret: gitlab-initial-root-password
    key: password

prometheus:
  install: false

installCertmanager: false

nginx-ingress:
  enabled: false

registry:
  enabled: false

gitlab-runner:
  install: false

gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitlab-shell:
    minReplicas: 1
    maxReplicas: 1
