expose:
  type: ingress
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: wildcard-tls
  ingress:
    hosts:
      core: harbor.railguncnr.com
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"

externalURL: https://harbor.railguncnr.com

database:
  type: internal
  internal:
    password: "changeit"

redis:
  type: internal

persistence:
  enabled: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: false

ipFamily:
  ipv6:
    enabled: false

core:
  nodeSelector:
    kubernetes.io/arch: amd64

registry:
  nodeSelector:
    kubernetes.io/arch: amd64

portal:
  nodeSelector:
    kubernetes.io/arch: amd64

jobservice:
  nodeSelector:
    kubernetes.io/arch: amd64

trivy:
  nodeSelector:
    kubernetes.io/arch: amd64

exporter:
  nodeSelector:
    kubernetes.io/arch: amd64
