resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

# Self-signed kubelet sertifikalari icin gerekli
args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP
