controller:
  replicaCount: 2
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: LoadBalancer
    externalTrafficPolicy: "Local"
  ingressClassResource:
    name: nginx
    enabled: true
    default: true
  metrics:
    port: 10254
    portName: metrics
    enabled: true
    service:
      enabled: true
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "10254"
