auth:
  database: home-expense
  username: postgre

primary:
  nodeSelector:
    kubernetes.io/arch: amd64
  persistence:
    enabled: true
    size: 5Gi
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

readReplicas:
  replicaCount: 0

metrics:
  enabled: true
  serviceMonitor:
    enabled: false
  service:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9187"
