server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - prometheus.railguncnr.com
    tls:
      - secretName: wildcard-tls
        hosts:
          - prometheus.railguncnr.com

alertmanager:
  enabled: false

pushgateway:
  enabled: false
